.nav-tabs {
    border-bottom-width: 0 !important;
}

    .nav-tabs .nav-item {
        height: 48px !important;
    }

    button.nav-link {
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.03em;
        padding: 4px 8px 0 8px;
        width: 120px;
        height: 48px !important;
        background-color: #F2F2F2;
        margin: 0 !important;
        border-width: 0 !important;
    }

    button.nav-link:hover {
        box-shadow: -2px -2px 7px rgba(0, 0, 0, 0.07), 2px -2px 7px rgba(0, 0, 0, 0.07);
    }

    button.nav-link span {
        width: 104px;
        height: 100%;
        color: var(--gv-gray2);
        font-family: "Nunito";
        font-style: normal;
        font-weight: 600;
        font-size: var(--gv-font-size);
        line-height: 20px;
        justify-content: center;
        align-content: center;
        text-align: center;
        letter-spacing: -0.03em;
        padding: 0;
        border-bottom: 3px solid #B2BBBE !important;
    }

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: white;
    box-shadow: -2px -2px 7px rgba(0, 0, 0, 0.07), 2px -2px 7px rgba(0, 0, 0, 0.07);
}

.nav-link.active span {
    border-bottom: 3px solid #009BD9 !important;
}
